<%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
  <p><%= f.label :email %>
  <%= f.email_field :email, :class => 'logininput' %></p>

  <p><%= f.label :password %>
  <%= f.password_field :password, :class => 'logininput' %></p>

	<br />

  <p><%= f.submit 'Login', :class => 'loginbtn' %></p>

  	<p>
		<br /><br />
		<%= link_to 'Ainda não sou cliente', new_registration_path(resource_name) %>
	</p>
<% end %>
